<p id="notice"><%= notice %></p>

<p>
  <strong>Strip customer:</strong>
  <%= @attendance.strip_customer_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
